.Stunden {
    background: linear-gradient(
        50deg, 
        blue,
        lightgreen
    );
    padding: 40px;
    color: white;
    text-align: center;
}

img {
    height: 60px;
    padding-left: 1190px;
    
}

body {
    background: linear-gradient(
        50deg, 
        blue,
        lightgreen
    );
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#tbody {
    color: white;
    padding: 60px;
    font-size: x-large;
    padding-bottom: 50;

}


.info {
    padding-top: 220px;
}

